<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Abenezer Mengistu </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper white">
      <a href="{{ url_for('work') }}" class="brand-logo left hide-on-med-and-down">abenezer m. mamo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-link"><a href="{{ url_for('work') }}">work</a></li>
        <li class="nav-link"><a href="{{ url_for('about')}}">about</a></li>
        <li class="nav-link"><a href="{{ url_for('resume')}}" target="_blank">resume</a></li>
        <li class="nav-link"><a href="https://teret.abmamo.com" target="_blank">blog</a></li>
        <li class="nav-icon"><a href="https://github.com/abmamo"><i class="fa fa-github-square"></i></a></li>
        <li class="nav-icon"><a href="https://www.linkedin.com/in/abmamo/"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li class="nav-link"><a href="{{ url_for('work') }}">work</a></li>
    <li class="nav-link"><a href="{{ url_for('about')}}">about</a></li>
    <li class="nav-link"><a href="https://teret.abmamo.com">blog</a></li>
    <li class="nav-link"><a href="{{ url_for('resume')}}" target="_blank">resume</a></li>
    <li class="nav-icon"><a href="https://github.com/abmamo"><i class="fa fa-github-square center-icon"></i></a></li>
    <li class="nav-icon"><a href="https://www.linkedin.com/in/abmamo/"><i class="fa fa-linkedin-square center-icon"></i></a></li>
  </ul>
  <div class="container valign-wrapper body-content">
    {% block content %}{% endblock %}
  </div>
<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</body>
</html>
