{% extends "base.html" %} {% block content %}
<div class="row center-align">
  <div class="col s12 m12 l12">
    <div class="card-panel valign-wrapper left-align">
      <div class="container">
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-title">
            <i class="material-icons">code</i> {{error_code}} error:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-content">
            <p>{{ error_message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
