<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Abenezer Mengistu </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Section One -->
    <div class="container topLeftBorders show-on-large">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#projects">PROJECTS</a>
        <a href="#resume">RESUME</a>
        <a href="#contact">CONTACT</a>
        <a href="https://teret.abmamo.com">BLOG</a>
    </div> 
    <!-- Section Two -->
    <div class="panel" data-color="white" id="home">
            <h1> Hi, I'm Abenezer </h1>
            <p> a full stack web developer / machine learning enthusiast / currently in Portland / reinforcement learning is v. cool</p> 
            <p> 
                <a href="https://www.linkedin.com/in/abmamo" target='_blank'><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                <a href="https://github.com/abmamo" target='_blank'><i class="fa fa-github-square" style="font-size:36px"></i></a>
            </p>
            <p> <a href="#about"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></p>
    </div>
    <!-- Section Three -->
    <div class="panel" data-color="blue" id="about">
        <p> <a href="#home"><i class="fa fa-arrow-up" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
        <div class="text">
          <h1>About Me</h1>
          <p> based in Portland and currently attending Reed College. </p>
          <p> passionate about full stack web development and transparency + accountability in machine learning systems. </p>
          <p> love coding, music, travelling and tiramisu. </p>
          <p> currently researching reinforcement learning + modelling chaotic economies in python</p>
          <p> <a href="#projects"><i class="fa fa-arrow-down" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
        </div>
    </div>
    <!-- Section Four -->
    <div class="panel" data-color="brown" id="projects">
          <p> <a href="#about"><i class="fa fa-arrow-up" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
          <h1>Some Cool Projects</h1>
          <div class="box">
              <h2>teret / ተረት</h2>
              <p>inspired by experiences as an international student living in Portland + traveling in the US + Europe. journal / microblogging application w/ rich text editing + image upload + in-built web music player written in flask + Javascript</p>
              <p>check it out @ <a href="https://www.teret.abmamo.com">HERE</a></p>                  
          </div>
          <div class="box">
              <h2> thesis :- word vector induction + curriculum learning + scalable learning for the odd man out task </h2>
              <p>final year thesis explored the use of scalable learning methods in optimizing training regimens for neural networks. </p>
              <p>more specifically, scalable learning for the odd man out task with applications to word vector induction to generate sense aware embeddings</p>
              <p>check it out @ <a href="https://github.com/abmamo/thesis"> HERE </a></p>
          </div>
          <div class="box">
            <h2> current events + machine art </h2>
            <p> a web application built using flask + pyTorch and running on a GCP backend that performs neural style transfer on two images </p>
            <p> currently doing a weekly series of commentary pieces on various global events </p>
            <p> check it out @ <a href="https://www.art.abmamo.com">HERE</a></p>        
          </div>
        <p> <a href="#contact"><i class="fa fa-arrow-down" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
    </div>
    <!-- Section Five -->
    <div class="panel" data-color="blue" id="resume">
        <p> <a href="#projects"><i class="fa fa-arrow-up" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
          <h1>Resume</h1>
          <div class="box">
            <h2>Experience</h2>
            <hr class="title">
            <p>Help Desk Assistant :- <span style="font-weight: light;">Reed College Computer User Services</span></p>
            <p>Full Stack Developer :- <span style="font-weight: light;">Reed College Software Design Studio</span></p>
          </div>
          <div class="box">
            <h2>Education</h2>
            <hr class="title">
            <p>Reed College :- <span style="font-weight: light;">2015 - 2019</span></p>
          </div>
          <div class="box">
            <h2>Skills</h2>
            <hr class="title">
            <p>Python</p>
            <p>React</p>
            <p>Javascript</p>
            <p>CSS</p>
            <p>Haskell</p>
            <p>C++</p>
            <p>Apache Spark</p>
            <p>Natural Language Processing</p>
            <p>Machine Learning</p>
            <hr class="title">
            <p> download resume @ <a target="_blank" href="{{ url_for('resume') }}">HERE</a></p>        
          </div>
        <p> <a href="#contact"><i class="fa fa-arrow-down" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
    </div>
    <!-- Section Six -->
    <div class="panel" data-color="green" id="contact">
        <p> <a href="#resume"><i class="fa fa-arrow-up" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
        <div class="text">
        <h1>Contact Me</h1>
        <p> wanna know more? collaborate? hire me? </p> 
        <p> know how each color on this website describes me as a person ?</p>
        <p> <a href="mailto:abmamo@reed.edu" target="_top" style="color: #f4f4f4"> send me an email </a> </p>        
        <p> or let's connect </p>
        <p> 
            <a href="https://www.linkedin.com/in/abmamo" target='_blank'><i class="fa fa-linkedin-square" style="font-size:36px;color:#f4f4f4;"></i></a>
            <a href="https://github.com/abmamo" target='_blank'><i class="fa fa-github-square" style="font-size:36px;color:#f4f4f4;"></i></a>
        </p>
        <p> <a href="#home"><i class="fa fa-arrow-up" aria-hidden="true" style="color: #f4f4f4"></i></a></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    // scroll change color function
    $(window).scroll(function() {
      
      // selectors
      var $window = $(window),
          $body = $('body'),
          $panel = $('.panel');
      
      // Change 33% earlier than scroll position so colour is there when you arrive.
      var scroll = $window.scrollTop() + ($window.height() / 2);
    
      $panel.each(function () {
        var $this = $(this);
        
        // if position is within range of this panel.
        // So position of (position of top of div <= scroll position) && (position of bottom of div > scroll position).
        // Remember we set the scroll to 33% earlier in scroll var.
        if ($this.position().top <= scroll && $this.position().top + $this.height() > scroll) {
              
          // Remove all classes on body with color-
          $body.removeClass(function (index, css) {
            return (css.match (/(^|\s)color-\S+/g) || []).join(' ');
          });
          
          // Add class of currently active div
          $body.addClass('color-' + $(this).data('color'));
        }
      });    
      
    }).scroll();
    </script>

    <script>
    // smooth scrolling navbar code
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
      
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
      return false;
          });
        } // End if
      });
    });
    </script>
</body>
</html>
