{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel valign-wrapper left-align">
      <div class="container">
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-position-content">
            Junior Python Developer
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-company-title">
            <i class="material-icons">location_on</i> where:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-company-content">Pivony</div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-time-title">
            <i class="material-icons">access_time</i> when:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-time-content">
            May, 2020 - present
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-title">
            <i class="material-icons">code</i> quick summary:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-content">
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively. I am similar to what is called a panel in other
            frameworks.
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-project-title">
            <i class="material-icons">sort</i> projects:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l6 card-project-content">
            general purpose preprocessing engine
          </div>
          <div class="col s12 m12 l6 card-project-content">
            aws resource orchestrator
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card-panel valign-wrapper left-align">
      <div class="container">
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-position-content">Topics in NLP</div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-company-title">
            <i class="material-icons">location_on</i> where:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-company-content">
            Reed College / University of Sussex
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-time-title">
            <i class="material-icons">access_time</i> when:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-time-content">
            Sep, 2017 - Jan, 2020
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-title">
            <i class="material-icons">code</i> quick summary:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-summary-content">
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively. I am similar to what is called a panel in other
            frameworks.
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l12 card-project-title">
            <i class="material-icons">sort</i> projects:
          </div>
        </div>
        <div class="row no-padding-bottom">
          <div class="col s12 m12 l6 card-project-content">
            genetic algorithms
          </div>
          <div class="col s12 m12 l6 card-project-content">
            sense aware word embeddings
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
