<!DOCTYPE html>

<head>
  <!-- site information -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ name }} </title>
  <!-- static files -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <!-- materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- nav -->
  <nav>
    <div class="nav-wrapper white">
      <a href="{{ url_for('pages_bp.work') }}" class="brand-logo left hide-on-med-and-down">{{ name }}</a>
      <a href="#" data-target="mySidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-link"><a href="{{ url_for('pages_bp.work') }}">work</a></li>
        <li class="nav-link"><a href="{{ url_for('pages_bp.about')}}">about</a></li>
        <li class="nav-link"><a href="{{ url_for('pages_bp.resume')}}" target="_blank">resume</a></li>
        <li class="nav-link"><a href="https://teret.abenezer.sh" target="_blank">blog</a></li>
        {% for link in links%}
        <li class="nav-icon"><a href="{{ link['link'] }}" target="_blank"><i
              class="{{ link['class'] }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <!-- sidenav -->
  <ul class="sidenav" id="mySidenav">
    <li class="nav-link"><a href="{{ url_for('pages_bp.work') }}">work</a></li>
    <li class="nav-link"><a href="{{ url_for('pages_bp.about')}}">about</a></li>
    <li class="nav-link"><a href="{{ url_for('pages_bp.resume')}}" target="_blank">resume</a></li>
    <li class="nav-link"><a href="https://teret.abenezer.sh" target="_blank">blog</a></li>
    {% for link in links%}
    <li class="nav-icon"><a href="{{ link['link'] }}" target="_blank"><i
        style="padding-left: 107.5px;" class="{{ link['class'] }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- content -->
  <div class="container valign-wrapper body-content">
    {% block content %}{% endblock %}
  </div>
  <!-- javascript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/darkmode.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/trigger.js') }}"></script>
</body>

</html>