<!DOCTYPE html>

<head>
  <!-- site information -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ USER_NAME }} </title>
  <!-- static files -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <!-- materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- nav -->
  <nav>
    <div class="nav-wrapper white">
      <a href="{{ url_for('pages_bp.work') }}" class="brand-logo left hide-on-med-and-down">{{ USER_NAME }}</a>
      <a href="#" data-target="mySidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-link"><a href="{{ url_for('pages_bp.work') }}">work</a></li>
        <li class="nav-link"><a href="{{ url_for('pages_bp.about')}}">about</a></li>
        <li class="nav-link"><a href="{{ url_for('pages_bp.resume')}}" target="_blank">resume</a></li>
        <li class="nav-link"><a href="https://teret.abmamo.com" target="_blank">blog</a></li>
        {% for social_link in social_links%}
        <li class="nav-icon"><a href="{{ social_link['link'] }}" target="_blank"><i
              class="{{ social_link['class'] }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <!-- sidenav -->
  <ul class="sidenav" id="mySidenav">
    <li class="nav-link"><a href="{{ url_for('pages_bp.work') }}">work</a></li>
    <li class="nav-link"><a href="{{ url_for('pages_bp.about')}}">about</a></li>
    <li class="nav-link"><a href="{{ url_for('pages_bp.resume')}}" target="_blank">resume</a></li>
    <li class="nav-link"><a href="https://teret.abmamo.com" target="_blank">blog</a></li>
    {% for social_link in social_links%}
    <li class="nav-icon"><a href="{{ social_link['link'] }}" target="_blank"><i
        style="padding-left: 107.5px;" class="{{ social_link['class'] }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- content -->
  <div class="container valign-wrapper body-content">
    {% block content %}{% endblock %}
  </div>
  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <!-- darkmode trigger -->
  <script>
    const options = {
      bottom: '32px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#ffffff',  // default: '#fff'
      buttonColorDark: '#443B2F',  // default: '#100f2c'
      buttonColorLight: '#ffffff', // default: '#fff'
      saveInCookies: true, // default: true,
      label: '🌙 ', // default: ''
      autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    darkmode.showWidget();
  </script>
  <!-- sidenav trigger -->
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
  </script>
  <!-- collapsible trigger -->
  <script>
    $(document).ready(function () {
      $('.collapsible').collapsible();
    });
  </script>
</body>

</html>