@import url("https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,200&display=swap");

/* body */
body {
  background-color: #372f4b;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Source Code Pro", monospace;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25em !important;
  padding: 0 0 1em 0 !important;
  font-size: 16px !important;
}
/* nav */
nav {
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3) !important;
}

.brand-logo {
  color: #291528 !important;
  left: 15px !important;
  transition: 0.5s;
}

.brand-logo:hover {
  color: #ced375 !important;
  letter-spacing: 0.2em !important;
}

.nav-link a {
  color: #291528 !important;
  letter-spacing: 0.1em;
  transition: 0.5s !important;
}

.nav-link:hover,
.nav-icon:hover {
  background-color: #ced375 !important;
}

.nav-icon {
  text-align: center !important;
}

.nav-icon a {
  color: #ced375 !important;
}

.nav-icon a:hover {
  color: #3d5dc7 !important;
}

.sidenav-trigger {
  color: #ced375 !important;
}

.sidenav-trigger:hover {
  color: #7776bc !important;
}

/* content */
.body-content {
  padding-top: 2.5%;
}

.cards-container {
  min-width: 100%;
  width: 90%;
  max-width: 100%;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  color: #ced375 !important;
}

.card-panel {
  margin-top: 2.5% !important;
  background: #ffffff !important;
  border-radius: 0.75rem !important;
  box-shadow: 0 16px 48px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3) !important;
  text-align: left !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.padding-bottom {
  padding-bottom: 0.5em !important;
}

.card-position {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3.5px !important;
  border-bottom: 3px solid #7776bc;
  margin-left: 1.5% !important;
}

.card-company,
.card-time,
.card-project,
.card-tool,
.card-summary {
  color: #000000;
  letter-spacing: 0.05em;
  font-size: 0.9em !important;
}

.card-company {
  margin-left: 0.5em !important;
}

.card-summary {
  line-height: 1.75;
}

.collapsible {
  border: none !important;
  box-shadow: none !important;
}

.collapsible-header {
  border: none !important;
  box-shadow: none !important;
}

.collapsible-header:hover {
  cursor: auto;
}

.collapsible-header span {
  text-decoration: underline;
}

.collapsible-header span:hover {
  letter-spacing: 0.1em;
  cursor: pointer;
}

.collapsible-body {
  border-color: #ced375 !important;
}

.card-tool,
.card-project {
  font-size: 0.85em !important;
  line-height: 1.5 !important;
  box-shadow: none !important;
}

.card-error {
  font-size: 1.5em !important;
  color: #ced375 !important;
  min-width: 300px;
}

.card-message {
  font-size: 1.1em !important;
  color: #000000;
  display: inline-block;
}
