@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
/* body */
body {
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", monospace;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25em !important;
  padding: 0 0 1em 0 !important;
  font-size: 16px !important;
}
/* nav */
nav {
  border-bottom: 2px solid #000000;
}

.brand-logo {
  color: #291528 !important;
  left: 15px !important;
  transition: 0.5s;
  font-family: "Poppins", serif;
  font-weight:bold;
}

.brand-logo:hover {
  letter-spacing: 0.15em !important;
}

.nav-link a {
  color: #291528 !important;
  letter-spacing: 0.1em;
  transition: 0.5s !important;
}

.nav-link:hover,
.nav-icon:hover {
  background-color: #8A6C82 !important;
  color: #ffffff !important;
  transition: 0.3s all;
}

.nav-link:hover a,
.nav-icon:hover a{
  color: #ffffff !important;
}

.nav-icon {
  text-align: center !important;
}

.nav-icon a {
  color: #000000 !important;
  transition: 0.3s all;
}

.sidenav-trigger {
  color: #8A6C82 !important;
}

.sidenav-trigger:hover {
  color: #8A6C82 !important;
}

/* content */
.body-content {
  padding-top: 2.5%;
}

.cards-container {
  min-width: 90%;
  width: 90%;
  max-width: 100%;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  color: #8A6C82 !important;
}

.card-panel {
  margin-top: 2.5% !important;
  background: #ffffff !important;
  text-align: left !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 2px solid #000000 !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.padding-bottom {
  padding-bottom: 0.5em !important;
}

.card-position {
  font-size: 1.65rem;
  font-weight:bold;
  padding: 3.5px !important;
  border-bottom: 3px solid #8A6C82;
  padding-bottom: 2.5% !important;
  margin-left: 1.5% !important;
  font-family: "Poppins", serif;
  letter-spacing: 0.05em !important;
}

.card-company,
.card-time,
.card-project,
.card-tool {
  color: #000000;
  letter-spacing: 0.05em;
  font-size: 0.95em !important;
  font-family: 'Source Code Pro', monospace;
}

.card-company,
.card-time {
  font-weight: bold;
}


.card-company {
  margin-left: 0.5em !important;
}

.card-summary {
  line-height: 1.75;
}

.collapsible {
  border: none !important;
  box-shadow: none !important;
}

.collapsible-header {
  border: none !important;
  box-shadow: none !important;
}

.collapsible-header:hover {
  cursor: auto;
}

.collapsible-header span {
  text-decoration: underline;
}

.collapsible-header span:hover {
  letter-spacing: 0.1em;
  cursor: pointer;
}

.collapsible-body {
  border-color: #8A6C82 !important;
}

.card-tool,
.card-project {
  font-size: 0.85em !important;
  line-height: 1.5 !important;
  box-shadow: none !important;
}

.card-error {
  font-size: 1.5em !important;
  color: #8A6C82 !important;
  min-width: 300px;
}

.card-message {
  font-size: 1.1em !important;
  color: #000000;
  display: inline-block;
}
