{% extends "base.html" %} {% block content %}
<div class="container cards-container">
  <div class="row">
    {% for item in work_text %}
    <div class="col s12 m12 l12">
      <div class="card-panel valign-wrapper left-align">
        <div class="container">
          <div class="row no-padding-bottom">
            <div class="col s12 m12 l12 card-position">{{item["title"]}}</div>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 padding-bottom">
              <i class="material-icons">location_on</i
              ><span class="card-company">{{item["company"]}}</span>
            </div>
            <div class="col s12 m6 l6 padding-bottom">
              <i class="material-icons">access_time</i>
              <span class="card-time">{{item["duration"]}}</span>
            </div>
          </div>
          <div class="row no-padding-bottom">
            <div class="col s12 m12 l12 card-summary">{{item["summary"]}}</div>
          </div>
          <div class="row no-padding-bottom">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">sort</i
                  ><span class="card-subheader">projects</span>
                </div>
                <div class="collapsible-body">
                  <div class="row no-padding-bottom">
                    {% for project in item["projects"] %}
                    <div class="col s12 m12 l4 card-project">{{ project }}</div>
                    {% endfor %}
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">settings</i
                  ><span class="card-subheader">tools</span>
                </div>
                <div class="collapsible-body">
                  <div class="row no-padding-bottom">
                    {% for project in item["tools"] %}
                    <div class="col s4 m4 l3 card-tool">{{ project }}</div>
                    {% endfor %}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
